@charset "utf-8";


/* ===================================
	layout
 =================================== */
body.js-fixed {position:fixed; width:100%;}
.wrap {position:relative; min-width:320px; overflow:hidden;}

.header-wrap {width:100%; position:fixed; z-index:9999; transition: all .3s ease-in-out; background-color:rgba(255, 255, 255, 0); border-bottom:1px solid rgba(255, 255, 255, 0);}

.header-wrap.js-fixed,
.header-wrap.js-open-d {background-color:rgba(255, 255, 255, 1); border-bottom-color:rgba(234, 234, 234, 1); }

.header-inner { text-align:center; }



.header-logo {position:absolute; left:50px;top:50%; transform:translateY(-50%); width:200px; height:58px; transition: all .3s ease-in-out;}

.header-logo a {display:block; width:100%; height:100%; background:url('../images/common/top_logo.png') 0 0 no-repeat;  overflow:hidden; text-indent:-9999px; text-align:left; background-size:cover; transition: all .3s ease-in-out;}




.header-logo a:hover{background-position: 0 -58px;}
.header-wrap.js-fixed .header-logo a,
.header-wrap.js-open-d .header-logo a {background-image:url('../images/common/top_logo.png');}


.header-wrap.js-fixed .header-logo {width:180px; height:52px;}
.header-wrap.js-fixed .header-logo a:hover{background-position: 0 -52px;}

/*GNB*/
.gnb {display:inline-block; width:100%;transition: all .3s ease-in-out;}
.gnb-wrap {font-size:0; width:80%; display:inline-block;}
.gnb-1dep{display:inline-block; vertical-align:middle; height:120px; min-width:180px;  position:relative;  transition: all .3s ease-in-out; }
.header-wrap.js-fixed .gnb-1dep {height:80px;}

.gnb-1dep > a {display:block; line-height:120px; padding:0 20px; font-weight:500;  position:relative; transition: all .3s ease-in-out; color:#fff; z-index:1001;}
.header-wrap.js-fixed .gnb-1dep > a {line-height:80px;}
.gnb-1dep > a span {display:inline-block; line-height:1.3; font-size:22px;}

.gnb.js-open-d .gnb-1dep > a,
.header-wrap.js-fixed .gnb-1dep > a{color:#222;transition: all .3s ease-in-out;}


.header-wrap.js-fixed .gnb-1dep.js-open-d > a,
.gnb.js-open-d .gnb-1dep.js-open-d > a,
.gnb-1dep > a:hover {color:#222; font-weight:600;}


.gnb-1dep:before {content: ''; position: absolute; left: 50%; top: 0; width:0%; height:6px; transform: translate(-50%, 0); background:#000; transition: all 0.5s ease-in-out; font-size:0; opacity:0; z-index:1001;}
.gnb-1dep.js-open-d:before { opacity:1; top:0%; width:100%; height:6px;}


.gnb-2dep {max-height:0; overflow:hidden; position:absolute; width:100%; top:120px; left:50%; transform:translateX(-50%); transition: all 0.5s ease-in-out; z-index:1000; background-color:rgba(255, 255, 255, 1);  padding:0 10%;}
.header-wrap.js-fixed .gnb-2dep {top:80px;}


.gnb-2dep > li {margin-top:0px;}
.gnb-2dep > li > a {display:block; padding:5% 0 5% 0%; color:#666; line-height:1.3; text-align:left; transition: all 0.3s ease-in-out;}
.gnb-2dep > li > a span {display:inline-block; font-size:16px;}
.gnb-2dep > li > a:hover { padding:5% 0% 5% 5%; color:#222;}
.gnb-2dep > li:first-child {margin-top:20px;}
.gnb-2dep > li:last-child {margin-bottom:20px;}

.gnb-1dep.js-open-d .gnb-2dep{max-height:500px;}




.gnb-inner-util {display:none;}

.gnb-dimmed{position:fixed; top:0px; left:0; z-index:999; width:100%; height:100%; background-color:rgba(0, 0, 0, .5);display:none; }
.gnb-dimmed.js-open-d {display:block; top:120px;}
.header-wrap.js-fixed .gnb-dimmed.js-open-d {top:81px;}


@media only screen and (max-width: 1800px) {
	.gnb-wrap {width:75%;}
	.gnb-1dep{max-width:16%; min-width:15%;}
	.gnb-1dep:nth-of-type(3) {max-width:20%;}
}


@media only screen and (max-width: 1440px) {
	.header-logo {left:20px; width:180px; height:52px;}
	.header-logo a:hover{background-position: 0 -52px;}
}

@media only screen and (max-width: 1300px) {
	.header-logo,
	.header-wrap.js-fixed .header-logo {left:20px; width:162px; height:47px;}
	.header-logo a:hover,
	.header-wrap.js-fixed .header-logo a:hover{background-position: 0 -47px;}


	.gnb-wrap {width:75%; margin-left:20px;}

	.gnb-1dep > a {padding:0 10px;}
	.gnb-1dep > a span {font-size:14px; line-height:1.1;}
	.gnb-2dep > li > a span {font-size:14px;}
	
}

@media only screen and (max-width: 1200px) {
	.header-logo,
	.header-wrap.js-fixed .header-logo {width:120px; height:35px;}
	.header-logo a:hover,
	.header-wrap.js-fixed .header-logo a:hover{background-position: 0 -35px;}


	.gnb-1dep {height:80px;}
	.gnb-1dep > a {line-height:80px;}

	.gnb-wrap {width:70%; margin-left:0px;}

	.gnb-2dep {top:80px;}

	.gnb-2dep > li > a span {font-size:13px;}

	.gnb-dimmed.js-open-d {top:81px;}
	
}


@media only screen and (max-width: 1024px) {

	.header-wrap {min-width:320px; z-index:9999; height:60px;background-color:rgba(255, 255, 255, 0);  border-bottom-color:rgba(234, 234, 234, 0.3);}
	.header-inner {height:60px; text-align:left;}


	.header-logo {width:120px; height:35px; }
	.header-logo a {background-size:120px auto; background-image:url('../images/common/top_logo.png');}
	.header-wrap.js-fixed .header-logo a {background-position:0 0px;}


	
	/*GNB*/
	
	.gnb {width:320px; height:100%; background:#fff; display:block; position:fixed; z-index:1002; top:0px; right:-100%;transition: all .3s ease-in-out; overflow-y:auto; }

	.gnb-wrap {margin:0; width:100%;}
	.gnb.js-open-m {right:0;transition: all .3s ease-in-out; -webkit-transition: all .3s ease-in-out; -moz-transition: all .3s ease-in-out;overflow-y:auto;}

	.gnb-1dep{display:block; font-size:16px; height:auto; position:relative; border-bottom: 1px solid #ddd; width:100%; min-width:100%; max-width:100%; padding:0;}
	.gnb-1dep:before {display:none;}
	.header-wrap.js-fixed .gnb-1dep {height:auto;}
	.gnb-1dep > a {display:block; line-height:50px; padding:0 20px; color:#000; text-transform: none; margin:0; font-size:0;}
	.header-wrap.js-fixed .gnb-1dep > a {line-height:60px;}
	.gnb-1dep > a span {font-size:18px;}

	.gnb-1dep > a:hover,
	.gnb-1dep.js-open-m > a{color:#000 !important;}

	.gnb-1dep > a:after {position: absolute; top: 20px; right: 16px; width: 10px; height: 10px; border-width: 0 0 1px 1px; border-style: solid; border-color: #000; content: '';  transition: all .3s ease-in-out;  transform: rotate(-135deg);}
	.gnb-1dep.js-open-m > a:after {top:20px;transition: all .3s ease-in-out; transform: rotate(-135deg);}

	.gnb-1dep > a.is-2depth-m:after {position: absolute; top: 16px; right: 16px; width: 10px; height: 10px; border-width: 0 0 1px 1px; border-style: solid; border-color: #000; content: '';  transition: all .3s ease-in-out;  transform: rotate(-45deg);}
	.gnb-1dep.js-open-m > a.is-2depth-m:after {top:22px;transition: all .3s ease-in-out; transform: rotate(-225deg);}
	

	.gnb-2dep {height:auto; max-height:none; display:none; position:static; width:auto; padding:0; margin:0; background-color:#efefef;border-top:0px solid #ddd;  transform:translateX(0); border-radius: 0; box-shadow:none; transition: none;}
	.gnb-1dep:last-child .gnb-2dep {margin-left:0;}

	.gnb-2dep > li {border-bottom:1px solid #ddd; padding:0; margin:0;}
	.gnb-2dep > li > a {display:block; padding:12px 30px; font-size:16px; color:#555; text-align:left;font-weight:300;}
	.gnb-2dep > li > a span {font-size:16px;}
	.gnb-2dep > li > a:hover,
	.gnb-2dep > li > a:focus { padding:12px 30px; color:#222;}
	.gnb-2dep > li:first-child {margin-top:0px;}
	.gnb-2dep > li:last-child {margin-bottom:0px; border:0;}
	
	
	/*3depth*/
	.gnb-3dep { padding:0; border-top:1px dashed #ccc; background-color:#f5f5f5;}
	.gnb-3dep a {display:block; padding:8px 10px 8px 40px; position:relative; color:#888; font-size:14px;}
	.gnb-3dep a:hover {color:#222; padding:8px 10px 8px 40px;}
	.gnb-3dep a:before,
	.gnb-3dep a:hover:before {left:30px; top:18px;background-color:#222;}
	.gnb-3dep > li:last-child {margin-bottom: 0px;}



	.gnb-1dep.js-open-m > a:before {display:none;}
	.gnb-1dep.js-open-m .gnb-2dep{max-height:none;border-top:1px solid #ddd;transition: none;}






	/*util*/
	.gnb-mbtn {display:block; position: absolute; z-index: 1; top: 0; right:-5px; bottom: 0; width: 40px; min-height: 30px; margin: auto 0px; text-indent: -999em; -webkit-transition: none; transition: none; cursor: pointer; }
	.gnb-mbtn:before, .gnb-mbtn:after, .gnb-mbtn > span:before, .gnb-mbtn > span:after { position: absolute; top: 0; bottom: 0; left: 0; right: 0; width: 28px; height: 0; border-top: 2px solid #222; margin: auto; -webkit-transform: rotate(0deg); -ms-transform: rotate(0deg); transform: rotate(0deg); -webkit-transition: .3s; transition: .3s; content: ''; opacity: 1; }
	.gnb-mbtn:not(.zxcv):before { top: 18px; }
	.gnb-mbtn:not(.zxcv):after { bottom: 18px; }

	.header-wrap.js-fixed .gnb-mbtn:before, 
	.header-wrap.js-fixed .gnb-mbtn:after, 
	.header-wrap.js-fixed .gnb-mbtn > span:before, 
	.header-wrap.js-fixed .gnb-mbtn > span:after {border-color:#222; }



	.gnb-inner-util {display:block; position:relative; height:60px; background-color:#000; padding:0 60px 0 0;font-size:0;}
	
	

	
	.gnb-mbtn-close {display:block; position: absolute; z-index: 3000; top: 0; right: 0; bottom: 0; width: 60px; min-height: 26px; margin: auto 0px; text-indent: -999em; -webkit-transition: none; transition: none; cursor: pointer; background:#3a3a3a; overflow:hidden; }
	.gnb-mbtn-close:before, .gnb-mbtn-close:after, .gnb-mbtn-close > span:before, .gnb-mbtn-close > span:after { position: absolute; top: 0; bottom: 0; left: 0; right: 0; width: 25px; height: 0; border-top: 2px solid #fff; margin: auto; -webkit-transform: rotate(0deg); -ms-transform: rotate(0deg); transform: rotate(0deg); -webkit-transition: .3s; transition: .3s; content: ''; opacity: 1; }
	.gnb-mbtn-close:not(.zxcv):before { top: 16px; }
	.gnb-mbtn-close:not(.zxcv):after { bottom: 16px; }

	.js-open-m .gnb-mbtn-close {top:0px; right:0; min-height: 26px; }
	.js-open-m .gnb-mbtn-close:before, .js-open-m .gnb-mbtn-close:after, .js-open-m .gnb-mbtn-close > span:before, .js-open-m .gnb-mbtn-close > span:after {border-top: 2px solid #fff;  }
	.js-open-m .gnb-mbtn-close:before { width: 0; -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%); }
	.js-open-m .gnb-mbtn-close:after { width: 0; -webkit-transform: translateX(50%); -ms-transform: translateX(50%); transform: translateX(50%); }
	.js-open-m .gnb-mbtn-close > span:before { -webkit-transform: rotate(-45deg); -ms-transform: rotate(-45deg); transform: rotate(-45deg); }
	.js-open-m .gnb-mbtn-close > span:after { -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); }

	
	.gnb-dimmed.js-open-m {display:block; top:0;}
	
}


/*Util*/
.top__util {position:absolute; right:60px; top:50%; transform:translateY(-50%); font-size:0; z-index:1001;}
.top__util-item {display:inline-block; width:auto; text-align: center; vertical-align:middle;}
.top__util-item + .top__util-item {margin-left:20px;}



.language {position:relative;}
.language .language-link {display:block; min-width:100px; background-color:transparent;  z-index:3; color:#fff; text-align:left; padding:0 10px 0 0px;  border:1px solid rgba(255, 255, 255, 1); border-color:transparent transparent #fff transparent; line-height:34px; transition: all 0.1s ease-in-out;}
.header-wrap.js-fixed .language .language-link,
.header-wrap.js-open-d .language .language-link {border-color:transparent transparent #222 transparent;  color:#222;}

.language .language-link span {display:block; position: relative; font-size:12px; padding:0 0 0 30px;}
.language .language-link span:before {content:'';  transition: all 0.3s ease-in-out; width:20px; height:20px; position:absolute; top:50%; left:5px; transform: translateY(-50%); background:url('../images/common/ico_lang.png') 0 0 no-repeat;}
.header-wrap.js-fixed .language .language-link span::before,
.header-wrap.js-open-d .language .language-link span::before {background-position: 0 -20px;}
.language .language-link span:after {content:'';  transition: all 0.3s ease-in-out; width:7px; height:7px; position:absolute; top:50%; right:0; transform: translateY(-100%) rotate(45deg); border-width:0px 2px 2px 0px; border-color:transparent #fff #fff transparent; border-style: solid;}
.header-wrap.js-fixed .language .language-link span:after,
.header-wrap.js-open-d .language .language-link span:after {border-color:#222 ;}

.header-wrap.js-fixed .language .language-link.js-active,
.language .language-link.js-active {background-color:#fff; border:1px solid rgba(34, 34, 34, 1); transition: all 0.1s ease-in-out; color:#222;}

.header-wrap.js-fixed .language .language-link.js-active span:after,
.language .language-link.js-active span:after{transform:translateY(-50%) rotate(225deg); border-color:#222 ; }

.header-wrap.js-fixed .language .language-link.js-active span::before,
.language .language-link.js-active span::before{background-position: 0 -20px;}

.language .language-link:hover,
.header-wrap.js-fixed .language .language-link:hover {background-color:#000; color:#fff; border-color:#000;}
.language .language-link:hover span:after,
.header-wrap.js-fixed .language .language-link:hover span:after,
.header-wrap.js-open-d .language .language-link:hover span:after {border-color:#fff;}

.language .language-link:hover span::before,
.header-wrap.js-fixed .language .language-link:hover span::before,
.header-wrap.js-open-d .language .language-link:hover span::before {background-position: 0 0px;}



.language-wrap {position:absolute; width:100%; top:35px; left:0; display:none; overflow:hidden; z-index:2; text-align: left;}



.language-list {background-color:#fff; /* box-shadow: 5px 5px 10px -2px rgba(0, 0, 0, .3);*/  overflow:hidden;border:1px solid rgba(34, 34, 34, 1);}

.language-list li a {display:block; padding:8px 10px 8px 20px; font-size:12px; color:#666;  background-color:transparent;transition: all 0.3s ease-in-out; }
.language-list li a:hover {background-color:#000; color:#fff;}




@media only screen and (max-width: 1280px) {
	.top__util-item + .top__util-item {margin-left:10px;}
	.language .language-link {min-width:85px;}
}

@media only screen and (max-width: 1024px) {
	.top__util-item.language{display:none;}

	.gnb-inner-util .language-wrap {position:absolute; top:50%; left:0px; width:auto; display:block; transform: translateY(-50%); }

	.gnb-inner-util .language-list {background-color:transparent; border:0px;}

	.gnb-inner-util .language-list li {display: inline-block; margin-left:10px;}
	
	.gnb-inner-util .language-list li a {padding:10px 20px; font-size:12px; color:#fff; line-height:1.3; position:relative; border:1px solid rgba(255, 255, 255, 0.4);}
	.gnb-inner-util .language-list li a:hover {color:#000; background-color: #fff;}

	
}





.allmenu .allmenu-link {display:block; position:relative; width:36px; height:36px; overflow:hidden; font-size:0; line-height:1; text-indent:-88888px;}
.allmenu .allmenu-link span {display:block; width:26px; height:2px; background-color:#fff; transition:all 0.3s ease-in-out; position:absolute; top:50%; left:5px; transform:translateY(-50%);}

.allmenu .allmenu-link span:nth-of-type(1) {margin-top:-8px; width:14px;}
.allmenu .allmenu-link span:nth-of-type(3) {margin-top:8px; width:14px;}


.allmenu .allmenu-link:hover span{width:14px;}
.allmenu .allmenu-link:hover span:nth-of-type(1){width:26px;}
.allmenu .allmenu-link:hover span:nth-of-type(3){width:26px;}

.header-wrap.js-fixed .allmenu .allmenu-link span,
.header-wrap.js-open-d .allmenu .allmenu-link span {background-color:#222;}






@media only screen and (max-width: 1440px) {
	.top__util { right:20px;}
}


@media only screen and (max-width: 1024px) {
	.top__util-item + .top__util-item {margin-left:20px;}
	/*
	.allmenu .allmenu-link span,
	.allmenu .allmenu-link span {background-color:#222;}
	*/
}




/* 전체메뉴 */
.newAllmenu { z-index:1005; position:relative; display: none;}

.newAllmenu-close {display:block; position: fixed; right: 20px; top: 20px; width: 60px; height: 60px; z-index:1002; padding:0; font-size:0; background-color:transparent; transition: all 0.3s ease-in-out;overflow:hidden; text-indent:-8888888px;}


.newAllmenu-close span:before,
.newAllmenu-close span:after {content:''; display:block; width:48px; height:2px; background-color:#222; position:absolute; top:50%; left:50%;transition: all 0.3s ease-in-out;}

.newAllmenu-close span:before {transform:translate(-50%, -50%) rotate(45deg);}
.newAllmenu-close span:after {transform:translate(-50%, -50%) rotate(-45deg);}

.newAllmenu-close:hover span:before,
.newAllmenu-close:focus span:before {transform:translateX(-50%) rotate(-45deg); background-color:#fff;}
.newAllmenu-close:hover span:after,
.newAllmenu-close:focus span:after {transform:translateX(-50%) rotate(45deg); background-color:#fff;}
.newAllmenu-close:hover,
.newAllmenu-close:focus {background-color:#000;}


.newAllmenu-wrap {position: fixed;  width:100%; height:100%; top:0; left:0;  z-index: 1001; overflow-y:auto;overflow-x:hidden;}



.newAllmenu-inner {display:block; max-width:1600px; padding:0 20px; position:relative; margin:0 auto;}

.newAllmenu-inner::after {content:''; display: block; position: absolute; bottom:0px; right:40px; width:23.5%; height:100%;background-image:url('../images/common/bg_allmenu02.png'); background-repeat:no-repeat; background-position: 100% 100%; background-size:contain; z-index: -1; opacity: 0; transition:all 0.2s ease-in-out;}

.newAllmenu.js-active .newAllmenu-inner::after {opacity: 1; transition:all 1s ease-in-out;}


.newAllmenu-nav {font-size:0; letter-spacing:-0.05em; position:relative; width:100%; border-left:1px solid #e6e6e6; }
.newAllmenu-nav::before,
.newAllmenu-nav::after {content:''; display:block; position:absolute; width:200%; height:100%; top:0; background-color:#fff; z-index: -1;}
.newAllmenu-nav::before {left:-200%;}
.newAllmenu-nav::after {right:-200%;}

.newAllmenu-1dep {display:inline-block; vertical-align:top; width:16.66%; min-height:100vh; padding:4% 0% 2%; transition: all 0.5s ease-in-out; background-repeat: no-repeat;   background-position:50% 50%; background-size:cover ;  overflow: hidden; }

.newAllmenu-1dep:last-child {width:16.67%;}


.newAllmenu-1dep::before {content:''; display:block; width:0; height:100%; background-color:#fff; position:absolute; top:0; transition: all 0.5s ease-in-out; transition-delay: 0s; z-index:-1;}
.newAllmenu-1dep:nth-child(1)::before {left:0%;}
.newAllmenu-1dep:nth-child(2)::before {left:16.66%;}
.newAllmenu-1dep:nth-child(3)::before {left:33.32%;}
.newAllmenu-1dep:nth-child(4)::before {left:49.98%;}
.newAllmenu-1dep:nth-child(5)::before {left:66.64%;}
.newAllmenu-1dep:nth-child(6)::before {left:83.3%;}

.newAllmenu.js-active .newAllmenu-1dep::before{width:16.67%;}

.newAllmenu-1dep:after {content:''; display:block; width:1px; height:100%; background-color:#e6e6e6; position:absolute; top:0;}
.newAllmenu-1dep:nth-child(1):after {left:16.66%;}
.newAllmenu-1dep:nth-child(2):after {left:33.32%;}
.newAllmenu-1dep:nth-child(3):after {left:49.98%;}
.newAllmenu-1dep:nth-child(4):after {left:66.64%;}
.newAllmenu-1dep:nth-child(5):after {left:83.3%;}
.newAllmenu-1dep:nth-child(6):after {left:99.96%;}



.newAllmenu-1dep > a {display:block; font-size:23px; font-weight:700; text-align:left; color:#222; text-transform: uppercase; padding:10% 10%; transition: all 0.5s ease-in-out; transition-delay: 0s; transform: translateX(-150%);}

.newAllmenu-1dep > a > span{display:block; color:#222; line-height:1.3;}

.newAllmenu.js-active .newAllmenu-1dep > a{transform: translateX(0);}

.newAllmenu-1dep:hover,
.newAllmenu-1dep:focus {background-color:#000;}
.newAllmenu-1dep:hover > a,
.newAllmenu-1dep:hover > a span,
.newAllmenu-1dep:hover > a > em {color:#fff;}



.newAllmenu-2dep {padding-top:5%; transition: all 0.5s ease-in-out; transition-delay: 0s; transform: translateX(-150%);}
.newAllmenu.js-active .newAllmenu-2dep {transform: translateX(0);}
.newAllmenu-2dep > li > a {display:block; padding:6% 10% 6% 10%; color:#666; font-size:16px; line-height:1.3; transition: all 0.3s ease-in-out; position:relative;}
.newAllmenu-2dep > li > a:hover,
.newAllmenu-2dep > li > a:focus {color:#000;}



.newAllmenu-1dep:hover .newAllmenu-2dep > li > a {color:#fff;}
.newAllmenu-1dep:hover .newAllmenu-2dep > li > a:hover,
.newAllmenu-1dep:hover .newAllmenu-2dep > li > a:focus {color:#000;}

.newAllmenu-2dep > li > a::before {content:''; display: block; width:0; height:100%; background-color:#fff;transition: all 0.3s ease-in-out; position:absolute; top:0; left:0; z-index:-1;}
.newAllmenu-1dep:hover .newAllmenu-2dep > li > a:hover::before {width:100%;}



@media only screen and (max-width: 1600px) {
	
}

@media only screen and (max-width: 1400px) {
	.newAllmenu-close {width:50px; height:50px;}
	.newAllmenu-1dep > a {font-size:20px;}
	.newAllmenu-2dep > li > a {font-size:15px;}
}
@media only screen and (max-width: 1200px) {

	.newAllmenu-close {right:5px; top:5px; width:40px; height:40px;}
	.newAllmenu-close span:before,
	.newAllmenu-close span:after {width:32px; height:2px;}
	.newAllmenu-1dep > a {font-size:17px;}
	
	
}
@media only screen and (max-width: 1024px) {
	.newAllmenu{display:none !important;}
}

.newAllmenu-dimmed {position:fixed; top:0px; left:0; z-index:999; width:100%; height:100%; background-color:rgba(34, 35, 34, 0.9);}


/* footer */
.footer {position:relative;z-index:2;  padding:0px 0 100px;}
.footer-wrap {border-top:2px solid #000; border-bottom:2px solid #000; padding:60px 0 0 0;}
.footer-wrap > .inner {padding-bottom:60px;}

.footer-logo {width: 266px; height:250px; position:absolute; background-color:#fff; bottom:-50px; left:35px;}
.footer-logo a {display:block; width:100%; height:100%; background:url('../images/common/footer_logo01.png') 50% 60% no-repeat; background-size:contain; overflow:hidden; text-indent:-9999px; text-align:left;}



address {display:block; line-height:1.3; padding:0 0 0 32%;}
address .footer-item {margin:0 0 20px 0;}
address .footer-item:last-child {margin:0;}
address .footer-item span {display:block;  font-size:16px; line-height: 1.3; font-weight:300;}
address .footer-item span.title {color:#000; font-weight:700; margin-bottom:5px;}

.footer-menu {position:absolute; right:0; bottom:60px; font-size:0;}
.footer-menu .item {display: inline-block; line-height:30px; height:32px; border:1px solid #d9d9d9; padding:0 20px; font-weight:300; color:#000; transition: all 0.3s ease-in-out;}
.footer-menu .item:hover {color:#fff; background-color:#000; border-color:#000;}
.footer-menu .item + .item {border-left:0;}
.footer-menu .item span {display: inline-block; line-height: 1.3; font-size:14px;}

.footer-copy {margin:30px 0 0 0;  padding:0 0 0 32%; color:#000; font-size:15px; line-height:1.3;}
.footer-copy em {vertical-align:baseline; font-weight: 700;}


@media only screen and (max-width: 1600px) {
	.footer-menu {right:80px;}
}


@media only screen and (max-width: 1024px) {
	.footer-wrap {padding:50px 0 0 0;}
	.footer-wrap > .inner {padding-bottom:50px;}

	.footer-logo {width: 208px; height:210px; bottom:-40px; left:0px;}
	.footer-logo a {background-position: 50% 100%;}


	address {padding:0 0 0 208px;}
	address .footer-item {margin:0 0 15px 0;}
	address .footer-item span {font-size:15px;}
	
	.footer-menu {right:75px;}
	.footer-menu .item {padding:0 15px;}

	.footer-copy {margin:25px 0 0 0;  padding:0 0 0 208px; font-size:14px;}
}



@media only screen and (max-width: 768px) {
	.footer { padding:0px 0 70px;}
	.footer-wrap {padding:30px 0 0 0;}
	.footer-wrap > .inner {padding-bottom:40px;}

	.footer-logo {width: 100%; height:160px; position:static; margin-bottom:30px; }


	address {padding:0 0 0 0;}
	address .footer-item {margin:0 0 15px 0;}
	address .footer-item span {font-size:14px;}
	
	.footer-menu {position:static; margin-top:20px;}
	.footer-menu .item {padding:0 15px; width:50%; text-align:center;}
	.footer-menu .item span { font-size:13px;}

	.footer-copy {margin:25px 0 0 0;  padding:0 0 0 0; font-size:13px; text-align:center;}
}

@media only screen and (max-width: 480px) {
	
	

}





/* footer-top */
.footer-top{display:block; width:64px; height:64px; font-size:0; border-radius: 30px; position: fixed; right: 20px; bottom: 20px; z-index:1; transition: all 0.3s ease-in-out;  overflow:hidden; background:#000;}
.footer-top:before{content:''; position:absolute; left:50%; top:50%; width:100%; height:100%; box-sizing:border-box; transition: all 0.3s ease-in-out; background:url('../images/common/footer_top.png') 50% 0 no-repeat; transform:translate(-50%, -50%);}



.footer-top.on{position:absolute; bottom:200px;}
.footer-top:hover {background-color:#222;}
.footer-top:hover::before {background-position: 50% -64px;}

@media only screen and (max-width:1200px){
	
}

@media only screen and (max-width:1024px){
	
}

@media only screen and (max-width: 768px){
	.footer-top{width:48px; height:48px; right: 10px; bottom: 10px;}
	.footer-top.on{position:fixed; bottom:10px;}
		
}

@media only screen and (max-width: 480px){

}







#container {padding:0px 0 0 0;}
.contents {padding:60px  0 120px 0;}

@media only screen and (max-width: 1024px) {
	#container {padding:0px 0 0 0;}
	.contents {padding:40px  0 100px 0;}
}

@media only screen and (max-width: 768px) {
	
}


.main-container {padding:0 0 0 0 !important; }

.inner {position:relative; max-width:1400px;  margin:0 auto;}

@media all and (max-width:1440px){
	.inner {position:relative; margin:0 20px; padding:0px;}
}














/* sub_visual */
.sub_visual{padding:180px 0 180px 0; position:relative; font-size:0; text-align:center; overflow: hidden;}

.sub_visual-inner {display:inline-block; text-align: center; width:100%; max-width:1440px; padding:0 20px;}


.sub_title{ display:inline-block;}
.sub_title h2{color:#fff;font-size:40px; padding:0; font-weight:700;line-height:1.3; text-transform: uppercase;}
.sub_title p{color:#fff; font-size:18px; line-height:1.3;margin:10px 0 0 0; letter-spacing:0.05em; font-weight: 300;}



@media only screen and (max-width:1920px){
	
}

@media only screen and (max-width:1440px){
	.sub_visual{padding:12% 0 12% 0;}
	.sub_title h2{font-size:38px;}
}

@media only screen and (max-width:1024px){
	.sub_visual {padding:14% 0 14% 0;}
	.sub_title p{font-size:16px; margin:8px 0 0 0;}
}

@media only screen and (max-width:768px){
	.sub_visual {padding:18% 0 18% 0;}
	.sub_title h2{font-size:36px;}
}

@media only screen and (max-width:640px){
	.sub_visual {padding:120px 0 120px 0;}
	.sub_title h2{font-size:32px;}
}

@media only screen and (max-width:480px){
	.sub_title h2{font-size:30px;}
	.sub_title p{font-size:14px; margin:5px 0 0 0;}
}

.sub_visual-bg {position:absolute; top:0%; left:0%; width:100%; height:100%; background:url('../images/contents/visual_bg01.jpg') 60% center no-repeat;background-size:cover; z-index:-1; transform:scale(1.3); transition:all 10s ease-in-out;}
.sub_visual-bg-mambership {position:absolute; top:0%; left:0%; width:100%; height:100%; background:url('../images/contents/mambership_bg01.jpg') 60% center no-repeat;background-size:cover; z-index:-1; transform:scale(1.3); transition:all 10s ease-in-out;}
.sub_visual-bg.is-active {transform:scale(1) rotate(0.002deg);}
.visual__contents{position:relative; z-index: 3;}
.visual__contents-inner  {position:relative;}
.visual__contents.nth-1 .sub_visual .sub_visual-bg{background-image:url('../images/contents/visual_bg01.jpg');}
.visual__contents.nth-2 .sub_visual .sub_visual-bg{background-image:url('../images/contents/visual_bg02.jpg');}
.visual__contents.nth-3 .sub_visual .sub_visual-bg{background-image:url('../images/contents/visual_bg03.jpg');}
.visual__contents.nth-4 .sub_visual .sub_visual-bg{background-image:url('../images/contents/visual_bg04.jpg');}
.visual__contents.nth-5 .sub_visual .sub_visual-bg{background-image:url('../images/contents/visual_bg05.jpg');}
.visual__contents.nth-6 .sub_visual .sub_visual-bg{background-image:url('../images/contents/visual_bg06.jpg');}





/* lnb */
.lnb{position:absolute; width:100%;  bottom:0; left:50%; transform:translateX(-50%); z-index:3; background:rgba(0, 0, 0, 0.5);}


.lnb-wrap {max-width:1400px; margin:0 auto;  text-align:left; position:relative;}

.lnb-list {font-size:0; display:block; text-align:center; white-space: nowrap;}
.lnb-item {display:inline-block; height:75px; line-height:75px; padding:0; white-space: normal;}



.lnb-item a {display:inline-block; position:relative; padding:0 50px; }
.lnb-item a::before {content:''; display:block; position:absolute; width:100%; background-color:rgba(255, 255, 255, 0); height:0; z-index: -1; transition:all 0.3s ease-in-out;left:0; bottom:0;}
.lnb-item + .lnb-item a {border-left:1px solid rgba(255, 255, 255, 0.2);}
.lnb-item a span{font-size:18px; line-height:1.3; font-weight:500; display:inline-block; color:#fff;  transition:all 0.3s ease-in-out;}

.lnb-item.is-active a span,
.lnb-item a:hover span {color:#222;}
.lnb-item.is-active a::before,
.lnb-item a:hover::before {background-color:rgba(255, 255, 255, 1); height:100%;}


.lnb-title {display:none;}

@media only screen and (max-width: 1024px) {
	.lnb-item {height:60px; line-height:60px;}

	.lnb-item a {padding:0 40px; }
	.lnb-item a span{font-size:16px;}
}

@media only screen and (max-width: 768px) {

	.lnb-wrap {padding:0;}
	.lnb-home {display:none;}

	.lnb-title {display:block; font-size:0; height:50px;  text-align:center; color:#222; background-color:#fff; border-bottom:1px solid #d6d6d6;}
	.lnb-title:before {content:''; display:inline-block; height:100%; vertical-align:middle; width:0px;}
	.lnb-title span {display:inline-block; text-align:left; width:calc(100% - 60px); }
	
	.lnb-open {display:inline-block; font-size:18px; color:#222; width:100%; padding:0 10px;}
	.lnb-open:hover,
	.lnb-open:active,
	.lnb-open:focus {color:#222;}
	.lnb-open:after {content:''; display:inline-block; width:32px; height:32px; background:url('../images/common/lnb_open.png') 50% 50% no-repeat;  vertical-align:middle; margin-left:10px; border:2px solid #000; border-radius:32px; box-sizing: border-box;transition: all .3s ease-in-out;}



	.lnb-list {display:block; width:100%; max-height:0px; overflow:hidden; position:absolute; top:50px; left:0; background-color:rgba(255, 255, 255, 1); transition: all .3s ease-in-out;  z-index:1000; border:1px solid #d6d6d6; opacity:0; border-top:0;}
	.lnb-item {display:block; height:auto; line-height:1.3; padding:0;}
	.lnb-item a {display:block; width:100%; position:relative; border-top:1px solid #ccc; padding:0 ;}
	.lnb-item:first-child a {border-top:0;}
	.lnb-item a span{display:block; height:auto; font-size:16px; font-weight:400; text-align:left; color:#666; border:0; position:static; padding:10px 20px;}
		
	.lnb-item.is-active a {border-bottom:0;}
	.lnb-item.is-active a span {background-color:#fff; color:#222;font-weight:500;}
	.lnb-item a:hover span {background-color:#000; color:#fff;  height:auto; margin:0; border-right:0;transition: all .2s ease-in-out; font-weight:400;}
	

	.lnb-list.js-active {max-height:500px; opacity:1; transition: all .5s ease-in-out; }

	.lnb-title.js-active .lnb-open:after {transform:rotate(-180deg); transition: all .3s ease-in-out;}
}








/*Sub Title*/

.contents__title {padding: 70px 0 0 0; position:relative; z-index:2;}
.contents__title h3{text-align:center; color:#222; position:relative; font-weight:700;}

.contents__title h3 span{display:inline-block; line-height:1.3;font-size:40px;}



@media only screen and (max-width:1024px){
	.contents__title {padding: 60px 0 0 0;}
	.contents__title h3 span{ font-size: 36px;}

}
@media only screen and (max-width:768px){
	.contents__title {padding: 50px 0 0 0;}
	.contents__title h3 span{ font-size: 32px;}

}
@media only screen and (max-width:480px){
	.contents__title {padding: 40px 0 0 0;}
	.contents__title h3 span{ font-size: 28px;}

}

